ion-content.background {
  --background: url("/assets/imagenes/background/bg.png") 0 0/100% 100% no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/assets/imagenes/background/bg.png") 0 0/100% 100% no-repeat;
  transition: background 0.4s ease-in-out;
}

ion-content.background.oscuro {
  --background: url('/assets/imagenes/background/bgOscuro.png') 0 0/100% 100% no-repeat;
  background: url('/assets/imagenes/background/bgOscuro.png') 0 0/100% 100% no-repeat;
}

ion-content.background.oscuro .recuperarTXT{
  color: #ffffff;
}
.LoginLogo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin-top: 30px;
  margin-left: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

.recuperarTXT {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  width: 100%;
  height: 15%;
}

.recuperarTXT.oscuro {
  color: #ffffff;
}

.contrasenaForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 15px;
  width: 100%;
  max-width: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

input {
  width: 100%;
  padding: 15px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  box-sizing: border-box;
}

input.oscuro {
  background-color: #333333;
  color: #ffffff;
}

input::placeholder {
  color: #999;
}

input.oscuro::placeholder {
  color: #cccccc;
}

.wrapper {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 50px;
  border-radius: 25px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  border: 2px solid #b083ff;
  background-color: #b083ff;
}

.wrapper.oscuro {
  border: 2px solid #6a4fbf;
  background-color: #6a4fbf;
}

.lineadivisora {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 65%;
  margin-bottom: 20px;
  border-bottom: 2.5px solid #9393b4;
}

.lineadivisora.oscuro {
  border-bottom: 2.5px solid #666699;
}

.redesiniciosesion {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.redesiniciosesion a {
  margin: 0 1rem;
}

.redesiniciosesion img {
  max-width: 40px;
  width: auto;
  height: auto;
}

.espacio {
  margin-top: 50px;
}

.nuevousuario {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #999;
  padding: 1rem;
  font-weight: bold;
  height: 1rem;
}

.nuevousuario.oscuro {
  color: #cccccc;
}

.nuevousuario h6 {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}

.nuevousuario h6.oscuro {
  color: #cccccc;
}

.nuevousuario a {
  color: #4499fd;
  font-weight: bold;
  text-decoration: none;
}

.nuevousuario a.oscuro {
  color: #66aaff;
}
