<ion-content padding class="background">
  <div class="LoginLogo">
    <img src="assets/imagenes/iconos/Registrappicon.png" class="Logo" alt="Logo" />
  </div>
  <div class="BienvenidaTXT">Bienvenido De Vuelta!</div>

  <div class="FormularioLogin">
    <form (ngSubmit)="login()" #loginForm="ngForm" class="FormularioLogin">
      <input type="text" placeholder="Correo Institucional" [(ngModel)]="email" name="email" required />
      <input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required />
    </form>
  </div>
  <div class="RecuerdameOlvidaste">
    <ion-checkbox [(ngModel)]="rememberMe" labelPlacement="end">Recuerdame</ion-checkbox>
    <a href="#">Olvidaste tu contraseña?</a>
  </div>

  <div class="wrapper">
    <div class="ion-activatable ripple-parent custom-parent" (click)="login()">
      Iniciar Sesión
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <div class="nuevousuario">
    <h6>Nuevo usuario? <a [routerLink]="['/registro']">Regístrate</a></h6>
  </div>
  <div class="lineadivisora"></div>
  <div class="redesiniciosesion">
    <a href="#"><img src="assets/imagenes/iconos/LogoGogle.png" alt="Logo Google" /></a>
    <a href="#"><img src="assets/imagenes/iconos/iLogo.png" alt="Logo iLogo" /></a>
    <a href="#"><img src="assets/imagenes/iconos/LogoMicrosoft.png" alt="Logo Microsoft" /></a>
  </div>
</ion-content>
