.BienvenidaTXT{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}	
.BienvenidaTXT h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;  
    color: grey ;  
}
.lineaSeparadora{
    border-bottom: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}